<div class="caption">
  <h2>Гірничо електромеханічний коледж Державного вищого навчального закладу <br> "Криворізький національний університет"</h2>
</div>
<md-input-container>
  <input mdInput placeholder="Відділення" value="електромеханічне">
</md-input-container>

<!--
<div>
  Відділення: <span>електромеханічне</span>
</div>
<div>
  Спеціальність: <span>електромеханічне</span>
</div>
<div>
  Галузь знань: <span>електромеханічне</span>
</div>
<div>
  Група:<span>МЕЕП-16 1/3</span>
</div>
<div>
 Класний керівник:<span>Майтак О.М.</span>
</div>
-->
