<div fxLayout="row" fxLayoutAlign="end">
  <button (click)="openCreateDialog()" md-raised-button>Додати студента</button>
</div>
<dx-data-grid
  id="students"
  [dataSource]="students">
  <dxi-column
    dataField="studentTicket"
    caption="Студ білет"></dxi-column>
  <dxi-column
    dataField="fullName"
    caption="ФІО"></dxi-column>
  <dxi-column
    dataField="phone"
    caption="Телефон"></dxi-column>
  <dxi-column
    dataField="dateOfBirthday"
    caption="Дата народження"
    dataType="date"
    cellTemplate="date"></dxi-column>
  <dxi-column
    dataField="fullAddress"
    caption="Адреса"></dxi-column>

  <dxi-column
    caption="Дії"
    dataField="students"
    cellTemplate="actions">
  </dxi-column>

  <div *dxTemplate="let data of 'actions'" fxLayoutAlign="center center">
    <md-icon (click)="openViewDialog(data.data)">remove_red_eye</md-icon>
    <md-icon (click)="openEditDialog(data.data)">mode_edit</md-icon>
    <md-icon (click)="openDeletingDialog(data.data)">delete</md-icon>
  </div>

  <div *dxTemplate="let data of 'date'">
    {{data.value | date: 'dd/MM/yyyy'}}
  </div>
</dx-data-grid>
