<md-dialog-content>
<form>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <md-input-container>
      <input mdInput name="lastName" placeholder="Прізвище" [(ngModel)]="student.lastName">
    </md-input-container>

    <md-input-container>
      <input mdInput name="firstName" placeholder="Ім'я" [(ngModel)]="student.firstName">
    </md-input-container>

    <md-input-container>
      <input mdInput name="secondName" placeholder="По-батькові" [(ngModel)]="student.secondName">
    </md-input-container>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <md-input-container fxFlex="49">
      <input mdInput name="birthPlace" placeholder="Місце народження" [(ngModel)]="student.birthPlace">
    </md-input-container>

    <md2-datepicker name="dateOfBirthday" fxFlex="49" class="dob"  placeholder="Дата народження" [(ngModel)]="student.dateOfBirthday">
    </md2-datepicker>
  </div>

  <md-card class="passport">
    <md-card-header>
      <md-card-title>Паспорт</md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <md-input-container>
          <input mdInput name="passportSeries" placeholder="Серія паспорту" [(ngModel)]="student.passportSeries">
        </md-input-container>

        <md-input-container>
          <input mdInput name="passportNumber" placeholder="Номер паспорту" [(ngModel)]="student.passportNumber">
        </md-input-container>

        <md2-datepicker name="passportDate" fxFlex="33" placeholder="Дата видачі" [(ngModel)]="student.passportDate">
        </md2-datepicker>
      </div>
    </md-card-content>

  </md-card>

  <md-card class="address">
    <md-card-header>
      <md-card-title>Домашня адреса</md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <md-input-container fxFlex="20">
          <input mdInput name="addressIndex" placeholder="Індекс" [(ngModel)]="student.addressIndex">
        </md-input-container>

        <md-input-container fxFlex="39">
          <input mdInput name="addressRegion" placeholder="Область" [(ngModel)]="student.addressRegion">
        </md-input-container>

        <md-input-container fxFlex="39">
          <input mdInput name="addressArea" placeholder="Район" [(ngModel)]="student.addressArea">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <md-input-container fxFlex="49">
          <input mdInput name="addressCity" placeholder="Місто" [(ngModel)]="student.addressCity">
        </md-input-container>

        <md-input-container fxFlex="49">
          <input mdInput name="addressStreet" placeholder="Вулиця" [(ngModel)]="student.addressStreet">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <md-input-container fxFlex="49">
          <input mdInput name="addressHouse" placeholder="Будинок" [(ngModel)]="student.addressHouse">
        </md-input-container>

        <md-input-container fxFlex="49">
          <input mdInput name="addressFlat" placeholder="Квартира" [(ngModel)]="student.addressFlat">
        </md-input-container>
      </div>
    </md-card-content>

  </md-card>

  <md-card class="info">
    <md-card-header>
      <md-card-title>Інша інформація</md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <md-input-container fxFlex="48">
          <input mdInput name="phone" placeholder="Телефон" [(ngModel)]="student.phone">
        </md-input-container>

        <md-input-container fxFlex="48">
          <input mdInput name="studentTicket" placeholder="Студ квиток" [(ngModel)]="student.studentTicket">
        </md-input-container>
      </div>

      <md-checkbox name="beneficiaries" [(ngModel)]="student.beneficiaries">Пільговик</md-checkbox>
    </md-card-content>

  </md-card>

  <md-card class="mother">
    <md-card-header>
      <md-card-title>Мати</md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <md-input-container fxFlex="33">
          <input mdInput placeholder="Прізвище">
        </md-input-container>

        <md-input-container fxFlex="33">
          <input mdInput placeholder="Ім'я">
        </md-input-container>
        <md-input-container fxFlex="33">
          <input mdInput placeholder="По-батькові">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <md-input-container fxFlex="48">
          <input mdInput placeholder="Телефон">
        </md-input-container>

        <md-input-container fxFlex="48">
          <input mdInput placeholder="Місце роботи">
        </md-input-container>
      </div>
    </md-card-content>

  </md-card>

  <md-card class="father">
    <md-card-header>
      <md-card-title>Батько</md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <md-input-container fxFlex="33">
          <input mdInput placeholder="Прізвище">
        </md-input-container>

        <md-input-container fxFlex="33">
          <input mdInput placeholder="Ім'я">
        </md-input-container>
        <md-input-container fxFlex="33">
          <input mdInput placeholder="По-батькові">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <md-input-container fxFlex="48">
          <input mdInput placeholder="Телефон">
        </md-input-container>

        <md-input-container fxFlex="48">
          <input mdInput placeholder="Місце роботи">
        </md-input-container>
      </div>
    </md-card-content>

  </md-card>

</form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="space-around">
  <button md-raised-button fxFlex="20" (click)="createStudent()">Зберегти</button>
  <button md-raised-button fxFlex="20" md-dialog-close>Відмінити</button>
</md-dialog-actions>
